@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-azul: #2135A6;
    --cor-laranja-pastel: #F67841;
    --cor-laranja: #F3541C;
    --cor-laranja-forte: #E43A12;

    --cor-texto-primario: #292524;
    --cor-texto-secundario: #57534E;
    --cor-texto-terciario: #8F8881;
    --cor-texto-quaternario: #b9b4b0;
    --cor-texto-destaque: #E43A12;

    --cor-superficie-primaria: #FFFFFF;
    --cor-superficie-secundaria: #FEE7D6;
    --cor-superficie-desativada: #E7E5E4;

    --cor-borda: #D6D3D1;
    --cor-borda-destaque: #F3541C;

    --cor-vermelha-erro: #DC2626;

    --fonte-poppins: "Poppins", sans-serif;
}


* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte-poppins);
}
body {
    background-color: var(--cor-azul);
}
main {
    width: 100%;
    height: max-content;
    overflow: hidden;
}
input {
    border: none;
}
button {
    border: none;
    cursor: pointer;
}


/* Configurações gerais de tela */
.home {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario {
    width: 42rem;
    height: 90vh;
    overflow: auto;
    scrollbar-width: none;

    background-color: var(--cor-superficie-primaria);
    border-radius: 1rem;
    padding: 4rem;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/* Configurações gerais de elementos */
.titulo {
    color: var(--cor-texto-primario);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 125%;
}
.subtitulo {
    color: var(--cor-texto-secundario);
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
}

.campo__input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.label {
    color: var(--cor-texto-secundario);
    font-weight: normal;
    font-size: 1rem;
    line-height: 140%;
}
.input {
    width: 100%;

    color: var(--cor-texto-primario);
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;

    border: solid var(--cor-borda) 0.0625rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    color: var(--cor-texto-quaternario);
}

.upload {
    border: dashed var(--cor-borda) 0.125rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    transition: border-color 0.25s ease;
}
.upload:hover {
    border-color: var(--cor-borda-destaque);
}

.upload__icone {
    width: 3rem;
    height: auto;
}
.upload__label {
    color: var(--cor-texto-quaternario);
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
}

.destaque {
    color: var(--cor-texto-destaque);
    font-weight: 500;
}


/* Introdução */
.introducao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.botao__voltar {
    position: relative;
    width: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: none;
    background-color: var(--cor-laranja-pastel);
    border-radius: 0.5rem;
    padding: 0.5rem;

    transition: width 0.3s ease-out;
}
.seta {
    display: block;
    position: absolute;
    width: 1rem;
    left: 0.625rem;
    transform: translateX(-200%);
    transition: transform 0.25s ease-out, opacity 0.1s ease-in;
    opacity: 0;
}
.voltar {
    color: var(--cor-superficie-primaria);
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    transition: transform 0.25s ease;
}

.botao__voltar:hover {
    width: 8rem;
}
.botao__voltar:hover .seta {
    transform: translateX(110%);
    opacity: 1;
}
.botao__voltar:hover .voltar {
    transform: translateX(40%);
}

.introducao__titulo {
    color: var(--cor-texto-primario);
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
}


/* Informações */
.informacoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.redes__campo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.adicionar__rede {
    width: 100%;

    border: dashed var(--cor-borda) 0.125rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;

    text-align: center;
    cursor: pointer;
}


/* Endereço */
.endereco {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.endereco__casal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.25rem;
}


/* Trilhas */
.trilhas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.trilhas__campo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.trilhas__casal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.trilhas__bloco {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.trilhas__bloco:hover {
    transform: scale(1.05);
}

.input__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;

    margin: 0;
    top: 0.5rem;
    left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;

    border: solid var(--cor-borda) 0.125rem;
    border-radius: 100%;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.input__radio:checked {
    background-color: var(--cor-laranja);
    border-color: var(--cor-laranja);

    background-image: url(/media/icons/Verificar.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.trilhas__conteudo {
    border: solid var(--cor-borda) 0.125rem;
    border-radius: 0.5rem;
    padding: 2rem 1rem 1rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.trilhas__icone {
    width: 2.5rem;
}
.trilhas__label {
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
}


/* Termos e Condições | Botão */
.termos__condicoes {
    display: flex;
    gap: 0.75rem;
}

.botao__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    max-height: 1.25rem;

    border: solid var(--cor-borda) 0.125rem;
    border-radius: 0.25rem;

    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease-in-out;
}
.botao__checkbox:hover {
    transform: scale(1.2);
}
.botao__checkbox:checked {
    background-color: var(--cor-laranja);
    border-color: var(--cor-laranja);

    background-image: url(/media/icons/Verificar.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.botao__submit {
    border: none;
    background-color: var(--cor-laranja-forte);
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;

    color: var(--cor-superficie-primaria);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;

    transition: transform 0.25s ease-in-out;
}
.botao__submit:hover {
    transform: scale(1.05);
}


/* Imagens laterais */
.visuais {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    pointer-events: none;
}

.arte {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ilustracao {
    width: 25rem;
}
.logo {
    width: 16rem;
}


/* Rodapé */
.footer {
    width: 100%;
    background-color: var(--cor-superficie-primaria);
    padding: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__footer {
    width: 28rem;
}


/* Animações */
@keyframes levitar {
    0% {
        transform: translateY(1rem);
    } 50% {
        transform: translateY(-2.25rem);
    } 100% {
        transform: translateY(1rem);
    }
}
.visuais {
    animation: levitar 15s ease-in-out infinite;
}

@keyframes dancar {
    0% {
        transform: translateX(110%);
    } 50% {
        transform: translateX(20%);
    } 100% {
        transform: translateX(110%);
    }
}
.botao__voltar:hover .seta {
    animation: dancar 2s ease infinite;
    animation-delay: 0.5s;
}