@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-texto-principal: #292524;

    --cor-azul-claro: #4a7aba;
    --cor-azul: #2135A6;
    --cor-azul-escuro: #233490;

    --cor-laranja: #F3541C;
    --cor-laranja-escuro: #E43A12;

    --cor-branca: #FFFFFF;
    --cor-branca-cinza: #E7E5E4;
    --cor-cinza: #8F8881;
    --cor-cinza-escuro: #D6D3D1;

    --fonte-poppins: "Poppins", sans-serif;
    --fonte-montserrat: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-azul);
    background: linear-gradient(to bottom, var(--cor-azul-claro) 0%, var(--cor-azul) 50%, var(--cor-azul-escuro) 100%);
    overflow-x: hidden;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    width: 60%;
}

/* Área de login */
.login-sign {
    position: relative;
    font-family: var(--fonte-poppins);
    display: flex;
    justify-content: center;

    overflow: hidden;
    background-color: var(--cor-branca);
    background: linear-gradient(to bottom, var(--cor-branca) 80%, var(--cor-branca-cinza) 100%);
    border-radius: 1rem;

    width: 60%;
    height: auto;
}


.login {
    background: inherit;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    width: 100%;

    transition: transform 0.5s ease-in-out;
}

.login__campo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}


/* Área do input de email e senha */
.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.span {
    color: var(--cor-texto-principal);
}

.input__icone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    box-sizing: border-box;
    border: solid var(--cor-cinza) 0.1rem;
    border-radius: 0.75rem;

    font-size: 1rem;
    color: var(--cor-texto-principal);

    padding: 0 0.75rem;

    width: 100%;
    height: 2.5rem;
}
::placeholder {
    color: var(--cor-cinza-escuro);
}
.input:focus {
    outline: none;
}

.botao {
    all: unset;
    position: absolute;

    right: 0.75rem;
    cursor: pointer;
}
.icone {
    width: 1.5rem;
    height: auto;
}

.login__senha-recuperar {
    color: var(--cor-azul-escuro);
}


/* Entrar ou cadastrar-se */
.login__enviar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 1rem;
}

.login__enviar-hyperlink {
    color: var(--cor-branca);
    background-color: var(--cor-laranja);
    border-radius: 1rem;

    width: 80%;
    padding: 1rem 0;

    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.0625rem;
}

.cadastrar {
    all: unset;
    cursor: pointer;
    color: var(--cor-laranja);
    background-color: var(--cor-branca);
    border-radius: 1rem;
    border: solid var(--cor-laranja) 0.125rem;

    width: 80%;
    padding: 1rem 0;

    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.0625rem;
}


/* Área de Cadastro */
.sign {
    position: absolute;
    transform: translate(150%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    width: 60%;
    height: auto;

    transition: transform 0.5s ease-in-out;
}

.sign__campo {
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.titulo {
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    color: var(--cor-laranja-escuro);
    font-size: 3rem;
}


/* Imagens laterais */

.imagem {
    width: 40%;
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
}

/* Animações */

@keyframes levitar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.imagem {
    animation: levitar 10s ease-in-out infinite;
}