@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-azul: #2135A6;
    --cor-laranja-pastel: #F67841;
    --cor-laranja: #F3541C;
    --cor-laranja-forte: #E43A12;

    --cor-texto-primario: #292524;
    --cor-texto-secundario: #57534E;
    --cor-texto-terciario: #8F8881;
    --cor-texto-destaque: #E43A12;

    --cor-superficie-primaria: #FFFFFF;
    --cor-superficie-secundaria: #FEE7D6;
    --cor-superficie-desativada: #E7E5E4;

    --cor-borda: #D6D3D1;
    --cor-borda-destaque: #F3541C;

    --cor-vermelha-erro: #DC2626;

    --fonte-poppins: "Poppins", sans-serif;
}


* {
    box-sizing: border-box;
    text-decoration: none;
   /* outline: 1px solid red !important;*/
}
body {
    width: 100%;
    height: 100%;

    background-image: url(/media/images/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    position: relative;
    font-family: "Poppins", sans-serif;
}


/* Configurações gerais de tela */
.home {
    padding: 12% 7.5% 18.5% 7.5%;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.875rem;
    width: 100%;
}


/* Configurações gerais de elementos */
.campo {
    width: 100%;
    position: relative;
    display: inline-block;
}

.label {
    position: absolute;
    box-sizing: border-box;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1%;

    line-height: 140%;
    font-weight: 600;
    font-size: 2.25rem;
}
.destaque{
    color: var(--cor-laranja-forte);
}

.faixas__imagem {
    width: 30rem;
}


/* Balões*/
.baloes {
    position: relative;
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}
.balao__esquerdo {
    padding-right: 40%;
}
.balao__esquerdo-imagem-mobile{
    display: none;
}
.balao__direito-imagem-mobile{
    display: none;
}
.balao__direito {
    padding-left: 40%;
}

.label__esquerda {
    text-align: left;
    padding-left: 10%;
}
.label__direita {
    text-align: right;
    padding-right: 11%;
}


/* Adesivos */
.adesivo__trilhas {
    position: absolute;
    top: 85%;
    right: 2%;
}
.adesivo__trilhas-imagem {
    width: 100%;
    height: auto;
}

.adesivo__controle {
    position: absolute;
    bottom: 80%;
    left: 11%;
}
.adesivo__controle-imagem {
    width: 60%;
    height: auto;
}


/* Área da logo central */
.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
}

.chamada__campo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.375rem;
}

.chamada__texto {
    color: var(--cor-superficie-primaria);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 140%;
}

.logo__central {
    width: 42.5rem;
    height: 100%;
}


/* Botões */
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.botao__inscrever {
    width: 28rem;
    background-color: var(--cor-laranja-forte);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;

    color: var(--cor-superficie-primaria);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    line-height: 150%;

    transition: transform 0.2s ease-in-out;
}
.botao__inscrever:hover {
    transform: scale(1.1);
}

.botao__login {
    color: var(--cor-superficie-primaria);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.botao__login:hover {
    transform: scale(1.05);
}


/* Faixas */
.faixas {
    position: absolute;
    width: 100%;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    pointer-events: none;
}


/* Rodapé */
.footer {
    width: 100%;
    background-color: var(--cor-superficie-primaria);
    padding: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__footer {
    width: 28rem;
}

@media (max-width:768px) {

    body {
        max-width:100vw;
        max-height:100vh;
    }
 
    .home{
        max-width: 768px;
        margin: 0 auto;
        padding: 4rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .conteudo{
        gap: 4rem;
    }
    /*parte central */
    .chamada{
        gap: 2rem;
        max-width: 100vw;
        max-height: 100vh;
    }
    .chamada__campo {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        gap: 1.375rem;
    }
    .logo__central{
        max-width: 100vw;
        height: auto;
        display: block;
        width: 90vw;
    }
    .chamada__texto{
        font-size: clamp(1.5rem, 2vw + 1rem, 1.875rem);
    }
    /*baloes*/
    
    .baloes {
        position: relative;   
        padding: 0%;   
    }
    .campo {
        display: flex;
        position: relative;
        width: fit-content;
      }
      .balao__direito {
        width: 90vw;
        height: auto;
        display: flex;
        padding: 0;
        margin-left: 10%;
        justify-content: flex-end;
      }
      .balao__direito-imagem{
     display: none;
      }
      .balao__direito-imagem-mobile{
        max-width: 100%;
        height: auto;
        display: block;
        
    }
      .balao__esquerdo {
        width: 90vw;
        height: auto;
        display:block;
        padding: 0%;
        margin-right: 10%;

      }
      .balao__esquerdo-imagem{
      display: none;
      }
      .balao__esquerdo-imagem-mobile{
        max-width: 100%;
        height: auto;
        display: block;
    }
      
      /*labels*/
      .label {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 1%;
    
        line-height: 140%;
        font-weight: 600;
        font-size:1rem;
      }
      .label__direita {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content:flex-end;
        font-size: clamp(0.75rem, 2vw + 1rem, 1.3rem);
        line-height: 1.3;
      }
      .label__esquerda {
        width: max-content;
        max-width: 16.5rem;
        height:fit-content;
        max-height: 8.764rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        font-size: clamp(0.75rem, 2vw + 1rem, 1.3rem);
        line-height: 1.4;
      }
      
      /*botoes*/
        .botoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.938rem;
            padding: 2rem;
        }
        
        .botao__inscrever {
            width:max-content;
        
            font-size: 1.375;
            line-height: 150%;
        
            transition: transform 0.2s ease-in-out;
        }
        .botao__login {
            font-size: clamp(0.75rem, 2vw + 1rem, 1rem);
            font-weight: 600;
            line-height: 150%;        
        }
      
    /*faixas*/
    .faixas{
        position: relative;
        max-width: 100vw;
    }
    .faixas__imagem{
        max-width: 50%;
        height: auto;
        display: block;
    }
    /*footer*/
    .logo__footer{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .footer{
       max-width: 100vw;
       width: 100%;
       padding: 2rem;
    }
    .adesivo__controle{
        display: none;
    }
    .adesivo__trilhas{
        display: none;
    }

}